<header class="header">
    <div class="header-inner">
        <div class="email-me">
        <span>Email Me : </span><a href="mailto:{{emailto}}" target="_blank">{{emailto}}</a>
        </div>
        <div class="header-text">
        <h1>{{headername}}</h1>
        <p>{{headerpara}}</p>
        </div>
        <div class="cr-location">
        <span class="mdi mdi-map-marker-radius-outline"></span>
        <div class="lc-name">
        <span>currently in,</span>
        <strong>{{crLocation}}</strong>
        </div>
        </div>
    </div>
</header>
