<footer class="footer-container">
    <h2>Hire Me</h2>
    <p class="footer-para">Please feel free contact me. </p>
    <p class="footer-para"><a href="tel:+91-9713791927"><i class="mdi mdi-phone mdi-clr mr-2"></i>+91-9713791927</a></p>
    <p class="footer-para"><a href="mailto:ibadurrehman@yahoo.com" class="email-contact"><i class="mdi mdi-email mr-2 mdi-clr"></i>Ibadurrehman@yahoo.com</a></p>
    <p class="footer-para"><span class="email-contact"><i class="mdi mdi-map-marker mr-2 mdi-clr"></i>Jabalpur, India</span></p>
    </footer>
