.wp-about
{
    width: 100%;
    min-height: 100vh;
    color: var(--white);
    border-bottom: 1px solid var(--bdr-color);
}
.about-inner
{
    height: 100vh;
    display: flex;
    align-items: center;
    .about-me
    {
    width: 100%;
    p
    {
    font-family: "SofiaProLight";
    font-size: 18px;
    color: var(--text-light);
    }
}
}
.about-media
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    .about-picture
    {
        width: 100%;
        height: 600px;
        border: 6px solid var(--bd-color);
        border-radius: 10px;
        margin-left: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(../../assets/images/pattern.svg);
    .about-thumb
    {

        min-height: 525px;
        border-radius: 10px;
        position: relative;
        left: -50px;
        background-color: var(--bg-color);
        border: 2px solid var( --bd-color);
        background-image: url(../../assets/images/my-picture.jpg);
        background-size: cover;
    }
    }
}

        // &::before
        // {
        // content: "";
        // position: absolute;
        // top: 0;
        // right: 0;
        // width: 80%;
        // height: 80%;
        // background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.75), #100e17), url(../../assets/images/my-picture.jpg);
        // background-size: cover;
        // background-repeat: no-repeat;
        // opacity: 0.75;
        // }