<nav class="navbar-left">
<a href="/"><img src="../../assets/images/logo-ir.svg" class="wp-logo" alt="Ibadur Rehman Logo"/></a>

<div class="menu-links">
<ul>
<li><a href="#Home">Home</a></li>
<li><a href="#About">About Me</a></li>
<li><a href="#Portfolio">Portfolio</a></li>
</ul>
</div>

<div class="social-links">
    <ul>
    <li><a href="https://www.facebook.com/ibadur.rehman.906"><span class="mdi mdi-facebook"></span></a></li>
    <li><a href="https://twitter.com/ibadurrehman141"><span class="mdi mdi-twitter"></span></a></li>
    <li><a href="https://www.linkedin.com/in/ibadur-rehman-05768b7a/"><span class="mdi mdi-linkedin"></span></a></li>
    <li><a href="https://in.pinterest.com/ibadurrehman/"><span class="mdi mdi-pinterest"></span></a></li>
    </ul>
</div>
</nav>
