<div class="wp-experience">
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="exp-section">
<h2>Experience</h2>
<p>Without a technical background, I hustled my way into tech and redefined what it means to be a multi-passionate creative in a world of technology. I've blended my passion for fine art, technology, and psychology into a lucrative career called Product Design. During the day, I translate business requirements into beautiful app design. </p>
</div>
</div>
<div class="col-sm-5">
<div class="wp-worked">

    <div class="work-item">
    <span class="wr-time">April 2019 — Present</span>
    <h3 class="wr-designation">Front End Developer<span class="wr-company"> // Taritas</span></h3>
    <p class="wr-description"><strong>Area of Work : </strong>
    With my Front End Development skills, I am working here as a UI UX designer on angular and electronjs technology.</p>
    </div>

    <div class="work-item">
    <span class="wr-time">November 2018 — March 2019</span>
    <h3 class="wr-designation">Front End Developer<span class="wr-company"> // Acrostic</span></h3>
    <p class="wr-description"><strong>Area of Work : </strong>
    Create User Interface for defferent websites like RealEstate and Restaurent etc.</p>
    </div>

    <div class="work-item">
    <span class="wr-time">November 2015 — August 2018</span>
    <h3 class="wr-designation">Front End Developer<span class="wr-company"> // Kreyon</span></h3>
    <p class="wr-description"><strong>Area of Work : </strong>
    Design web based applications for multiple industry like Finance, RealEstate and CRM Project.</p>
    </div>

</div>
</div>
</div>
</div>

</div>
