.wp-experience
{
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    color: #fff;
    border-bottom: 1px solid var(--bdr-color);
    .exp-section
    {
        display: flex;
        flex-direction: column;
        padding-top: 15vh;
        p{
        font-family: "SofiaProLight";
        font-size: 18px;
        color: var(--text-light);
        }
    }
    .wp-worked
    {
        width: 100%;
        padding-top: 15vh;
    .work-item
    {
        margin-bottom: 1rem;
        padding: 15px;
        background-color: var(--bgl-color);
        border: 1px solid var(--bdr-color);
        border-radius: 4px;
    .wr-time
    {
        color: var(--text-lgreen);
        line-height: 1;
    }
    .wr-company
    {
        color: var(--text-light);
        line-height: 1;
        font-size: 16px;
    }
    
    .wr-description
    {
        font-family: "SofiaProLight";
        font-size: 16px;
        margin-bottom: 0;
        color: var(--text-light);
        strong
        {
        font-family: "SofiaProBlack";
        }
    }
    }
    }
}