.work-banner
{
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;

  .work-inner
  {
    padding: 3vh 7.5vw;
    color: var(--white);
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .work-text
  {
    h1
    {
      font-family: "SofiaProBlack";
    }
    p
    {
      font-family: 'SofiaProLight';
      font-size: 18px;
      color: var(--text-light);
    }
  }

}
