.wp-portfolio
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: var(--white);
    padding: 15vh 0;
    border-bottom: 1px solid var(--bdr-color);

    .pro_items
    {
        width: 100%;
        min-height: 360px;
        background-color: var(--bg-color);
        flex-basis: 50%;
        border: .1vw solid var(--bg-color);
        position: relative;
        img
        {
            width: 100%;
            height: auto;
        }
    }
}
