<div class="wp-portfolio" id="Portfolio">
<h2 class="text-center mb-5">My Portfolio</h2>
<div class="container-fluid">
<div class="row">

<div class="col-sm-6 col-pd-3">
<div class="pro_items">
<img src="../../assets/images/project-01.png" alt="Fashion Design Website" />
<!-- <div class="pro_overlay">

</div> -->
</div>
</div>

<div class="col-sm-6 col-pd-3">
    <div class="pro_items">
        <img src="../../assets/images/project-02.png" alt="Organization Website" />
    </div>
</div>

<div class="col-sm-6 col-pd-3">
    <div class="pro_items">
        <img src="../../assets/images/project-05.png" alt="Services" />
    </div>
</div>

<div class="col-sm-6 col-pd-3">
<div class="pro_items">
    <img src="../../assets/images/project-06.png" alt="Content Management Systems" />
</div>
</div>

<div class="col-sm-6 col-pd-3">
<div class="pro_items">
    <img src="../../assets/images/project-03.png" alt="Real Estate" />
</div>
</div>

<div class="col-sm-6 col-pd-3">
<div class="pro_items">
    <img src="../../assets/images/project-07.png" alt="Ibadur Rehman" />
</div>
</div>

</div>
</div>
</div>
