/* You can add global styles to this file, and also import other style files */
:root
{
  --bg-blue:#0a1b5d;
  --bg-purple:#24035f;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
