/* You can add global styles to this file, and also import other style files */
@import '~@mdi/font/css/materialdesignicons.css';
@import '../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
//@import '../node_modules/owl.carousel/dist/owl.carousel.min.js';

:root
{
  --bg-blue:#0a1b5d;
  --bg-purple:#24035f;
  --bg-nxt:#052b75;
  /*
  --bg-color:#131417;
  --bgl-color:#1a1b1f;
  --bdr-color: #27232f;
  --bd-color: #403f3f;
*/
  --bg-color:#1d2432;
  --bgl-color:#262d3f;
  --bdr-color: #333b4e;
  --bd-color: #333b4e;
  --para-color: #a5b5c1;
  --text-light:#a5b5c1;
  --text-lgreen: #23d3d3;

  --white: #fff;
  --txt-hover:#e0b306;
  --text-grey:#6f6f6f;
}
html{
  scroll-behavior: smooth;
}
html, body { height: 100%; }
body { 
  margin: 0;
  font-family: 'SofiaProBlack';
  background-color: var(--bgl-color);
}
a,a:hover
{
  color: inherit;
}
@font-face
{
  src: url('./assets/fonts/SofiaProLight.ttf');
  font-family: 'SofiaProLight';
}
@font-face
{
  src: url('./assets/fonts/SofiaProBlack.ttf');
  font-family: 'SofiaProBlack';
}
@font-face
{
  src: url('./assets/fonts/SofiaProUltraLight.ttf');
  font-family: 'SofiaProUltraLight';
}
